<html>
    <head>
        <title>Flower Prediction</title>
    </head>
    <style>
            *{
                padding:30dp;
              }

    </style>
    
    <body>
        <img src="http://s3.amazonaws.com/hydroflask/media/media-library-files/logos/2017/hydro-flask/jpg/Hydro-Flask-Logo-Secondary-Lockup-Black-158x89.jpg"><br />
        <h2>Upload the flower you want to classify it by getting its name</h2>
        <form method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="Submit" value="upload">
        </form>
    </body>
</html>